@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/dm-mono-0.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/dm-mono-1.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/dm-mono-2.ttf) format('truetype');
}

@font-face{font-family:"Almarena Logo";src:url("../fonts/almarena-mono-display-bold.woff2") format("woff2");font-style:normal;font-weight:400;font-display:block}

@font-face{font-family:"Almarena Mobile";src:url("../fonts/almarena-mono-display-light.woff2") format("woff2");font-weight:300 500;font-style:normal;font-display:swap}
